<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport

      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/grades" routerLinkActive="active">Predict</a>
      <a mat-list-item routerLink="/students" routerLinkActive="active">Students</a>
    </mat-nav-list>

  </mat-sidenav>
  WELCOME! Please Signin
  <mat-sidenav-content>

    <mat-toolbar color="primary">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Exam</span>
      <span class = "spacer"></span>
      <a class = "whitelink" routerLink = "/signup" >SignUp</a>
      <a class = "whitelink" routerLink = "/login" >Login</a>
      <a class = "whitelink1" (click) = "logout()" *ngIf = "(authService.getUser()) | async">Logout</a>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
