<mat-card>
    <h1>Enter your details please!</h1>
    <form #gradesform="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Math grade</mat-label>
              <input matInput
                [(ngModel)] = "math"
                name = "math"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psychometry grade</mat-label>
              <input matInput
                [(ngModel)] = "psycho" 
                name = "psycho" 
                required>
            </mat-form-field>
          </p>   
          <p>
            <mat-form-field appearance="fill">
                <mat-label>Payed the fees?</mat-label>
                <select matNativeControl required
                  [(ngModel)] = "payed" 
                  name = "payed">
                  <option value="true">YES</option>
                  <option value="flase">NO</option>
                </select>
              </mat-form-field>
          </p>                                     
        <div >
            <button mat-raised-button 
              color="primary"
              (click) = "predict();predictButtonOpen = !predictButtonOpen"
              *ngIf = "predictButtonOpen">
              Predict
            </button>

            <button mat-raised-button 
              color="primary"
              *ngIf = "!predictButtonOpen"
              (click) = "updateParent()"
              routerLink = "/students">
              Save
            </button>

            <button mat-raised-button 
              color="primary"
              *ngIf = "!predictButtonOpen"
              (click) = "cancel();predictButtonOpen=!predictButtonOpen">
              Cancel
            </button>
        </div>
      </div>

      <div>
        chance to quit = {{result}} 
      </div>
      
      <div>
        {{con}} 
      </div>

    </form>
   </mat-card>

