<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel *ngFor = "let grade of grades$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{grade.math}}
        </mat-panel-title>
        <mat-panel-description>
          {{grade.psycho}}
        </mat-panel-description>
        <mat-panel-description>
            {{grade.payed}}
        </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>