<p>Welcome to our application!</p>
<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>

<div>
    <button *ngIf = "(authService.getUser()| async)" mat-raised-button
    color = "primary"
    (click) = "gradesFormOPen = !gradesFormOPen"
    >
    Enter Details
    </button>      
</div>

<div>
    <grades-form *ngIf = "gradesFormOPen;"
        (update) = "add($event)">
    </grades-form>
</div>

